:root {
  --background: #fff;
  --text-color: #000;
  --primary-color: #1e1e2f;
  --secondary-color: #2c2c3e;

}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  margin: 1em;
}

.man {
  .day-list {}
}
