:root {
  --background: #fff;
  --text-color: #000;
  --red: #ff6b6b;
  --blue: #4a90e2;
  --green: #50e3c2;
  --yellow: #f8e71c;
  --purple: #9013fe;
  --orange: #f5a623;
  --primary-color: var(--green);
  --primary-color-highlighted: var(--red);

}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  margin: 1em;
}

button {
  cursor: pointer;
}

/* Style checkboxes */
input[type="checkbox"] {
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  border: 2px solid var(--primary-color);
  border-radius: 0.25em;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease;
}

input[type="checkbox"]:checked {
  background-color: var(--primary-color);
}

/* buttons */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--background);
  border: none;
  padding: 0.2em 0.2em;
  border-radius: 0.25em;
  margin: 0.5em 0;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: var(--primary-color-highlighted);
    transform: scale(1.05);
  }
}

.main {

  .days {
    .day {
      .date {

        padding: 0 0.7em;
      }

      display: flex;
      flex-direction: row;

      .habits {
        display: flex;
        flex-wrap: wrap;

        .habit {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0 0.7em;
        }
      }

      .new-habit {
        display: flex;
      }

      .new-habit-form {
        display: flex;
      }
    }
  }
}
