:root {
  /* Background and Text */
  --background: #fbf1c7;
  --text-color: #3c3836;
  --subtext1: #504945;
  --subtext0: #665c54;
  --overlay2: #7c6f64;
  --overlay1: #928374;
  --overlay0: #a89984;
  --surface2: #d5c4a1;
  --surface1: #ebdbb2;
  --surface0: #f2e5bc;
  --mantle: #e9dbb1;
  --crust: #e0cfa0;

  /* Core Colors */
  --red: #b83229;
  --flamingo: #9d2b22;
  --maroon: #9a3a34;
  --pink: #8f3f71;
  --mauve: #8f3f71;
  --orange: #d65d0e;
  --peach: #d65d0e;
  --yellow: #b57e22;
  --green: #7c7b20;
  --greener: #b8bb26;
  --teal: #4a8568;
  --sky: #427b58;
  --sapphire: #076678;
  --blue: #1a7088;
  --lavender: #427b58;
  --rosewater: #af3a03;

  /* Primary Colors */
  --primary-color: var(--green);
  --primary-color-highlighted: var(--red);
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  margin: 1em;
}

button {
  cursor: pointer;
}

/* Style checkboxes */
input[type="checkbox"] {
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  border: 2px solid var(--primary-color);
  border-radius: 0.25em;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease;
}

input[type="checkbox"]:checked {
  background-color: var(--primary-color);
}

/* buttons */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--background);
  border: none;
  padding: 0.2em 0.2em;
  border-radius: 0.25em;
  margin: 0.5em 0;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: var(--primary-color-highlighted);
    transform: scale(1.05);
  }
}

.main {
  .days {
    .day {
      display: flex;
      flex-direction: row;
      align-items: center;

      .date {
        padding: 0 0.7em;
      }

      display: flex;
      flex-direction: row;

      .habits {
        display: flex;
        flex-wrap: wrap;

        .habit {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0 0.7em;
          min-width: 6em;
        }
      }

      .new-habit {
        display: flex;
      }

      .new-habit-form {
        display: flex;
      }
    }
  }
}
